.row
  .large-6.columns
    %p
      Copyright Waterfall Software Inc., All rights reserved

  .large-6.columns
    %ul.inline-list.right
      %li= link_to 'Link 1', '#'
      %li= link_to 'Link 2', '#'
      %li= link_to 'Link 3', '#'
      %li= link_to 'Link 4', '#'
